<template>
  <div class="container-tabs">
    <b-tabs fill v-model="valueTab">
      <b-tab title="Ultimas Ocorrências" active>
        <ocorrencias />
      </b-tab>
      <b-tab title="Fechamento">
        <fechamento />
      </b-tab>
      <b-tab title="Sequências">
        <sequencia />
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>
import Ocorrencias from "./ocorrencias/index.vue";
import Fechamento from "./fechamento/index.vue";
import Sequencia from "./sequencias/index.vue";
export default {
  components: {
    Ocorrencias,
    Fechamento,
    Sequencia,
  },
  data() {
    return {
      valueTab: 0,
    };
  },
  watch: {
    valueTab(value) {
      // this.$root.$emit("changeTab", value);
      this.$store.commit("SET_TAB", value);
      // console.log(value);
    },
  },
};
</script>
<style scoped>
.container-tabs {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
</style>
