<template>
  <b-row>
    <b-col cols="12" md="6">
      <b-form @submit.prevent="handleSearch">
        <b-overlay :show="loading" rounded="sm">
          <b-card
            class="mt-3"
            header="Formulário de Consulta"
            footer-tag="footer"
          >
            <b-row>
              <b-col cols="12" lg="6">
                <b-form-group
                  description="Combinações de moeda para consulta"
                  label="Moeda:"
                  label-for="fechamento"
                >
                  <select
                    ref="dataFechamento"
                    name="fechamento"
                    id="fechamento"
                  />
                </b-form-group>
              </b-col>
              <b-col cols="12" lg="6">
                <b-form-group
                  label="Tipo de pesquisa de fechamento"
                  v-slot="{ ariaDescribedby }"
                  plain
                >
                  <b-form-radio-group
                    id="radio-group-2"
                    :aria-describedby="ariaDescribedby"
                    v-model="tipoPesquisa"
                  >
                    <b-form-radio value="1">Numero de dias</b-form-radio>
                    <b-form-radio value="2">Periodo</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
              </b-col>
              <b-col cols="12" lg="6">
                <b-collapse id="collapse-dias" v-model="this.showDays">
                  <b-form-group
                    id="fieldset-1"
                    description="Quantidade de ultimos dias para fechamento"
                    label="Nº de dias:"
                    label-for="n-dias"
                  >
                    <b-form-input
                      id="n-dias"
                      type="number"
                      min="0"
                      v-model="dias"
                    ></b-form-input>
                  </b-form-group>
                </b-collapse>
              </b-col>
              <b-col cols="12" lg="6">
                <b-collapse id="collapse-tempo" v-model="this.showInterval">
                  <b-form-group
                    description="Intervalo de tempo"
                    label="Data:"
                    label-for="intervalo_fechamento"
                  >
                    <input
                      id="intervalo_fechamento"
                      type="text"
                      class="form-control"
                      aria-describedby="fieldset-1__BV_description_"
                      ref="fechamentoIntervalo"
                    />
                  </b-form-group>
                </b-collapse>
              </b-col>
            </b-row>
            <template #footer>
              <b-button type="submit" variant="primary">Pesquisar</b-button>
            </template>
          </b-card>
        </b-overlay>
      </b-form>
    </b-col>
    <b-col cols="12" md="6" class="mt-3">
      <canvas ref="fechamento"></canvas>
    </b-col>
  </b-row>
</template>
<script src="./index.js" />
