<template>
  <b-row>
    <b-col cols="12" md="4" class="space-select2">
      <label for="ocorrencias"><strong> Conversões</strong></label>
      <select
        class="js-example-basic-single"
        ref="dataOcorrencias"
        name="ocorrencias[]"
        multiple="multiple"
        id="ocorrencias"
      >
      </select>
    </b-col>
    <b-col cols="12" md="8">
      <canvas ref="ocorrencias"></canvas>
    </b-col>
  </b-row>
</template>
<script src="./index.js" />
<style scoped>
.space-select2 {
  top: 40px;
}
@media only screen and (max-width: 576px) {
  .space-select2 {
    top: 0px;
  }
}
</style>
