<template>
  <b-modal
    id="modal-historico"
    hide-footer
    size="lg"
    title="Historico de consultas"
  >
    <b-table striped hover :items="items"></b-table>
  </b-modal>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      items: (state) => state.utils.historico,
    }),
  },
};
</script>
