<template>
  <b-row>
    <b-col cols="12" md="6">
      <b-form @submit.prevent="handleSearch">
        <b-overlay :show="loading" rounded="sm">
          <b-card
            class="mt-3"
            header="Formulário de Consulta"
            footer-tag="footer"
          >
            <b-row>
              <b-col cols="12" lg="6">
                <b-form-group
                  description="Combinações de moeda para consulta"
                  label="Moeda:"
                  label-for="sequencia"
                >
                  <select ref="dataSequencia" name="sequencia" id="sequencia" />
                </b-form-group>
              </b-col>
              <b-col cols="12" lg="6">
                <b-form-group
                  label="Intervalo de tempo"
                  v-slot="{ ariaDescribedby }"
                  plain
                >
                  <b-form-checkbox
                    id="checkbox-1"
                    v-model="showInterval"
                    :aria-describedby="ariaDescribedby"
                    name="checkbox-1"
                    :value="true"
                    :unchecked-value="false"
                  >
                  </b-form-checkbox>
                </b-form-group>
              </b-col>
              <b-col cols="12" lg="6">
                <b-form-group
                  id="fieldset-1"
                  label="Nº de sequencias:"
                  label-for="n-sequencia"
                >
                  <b-form-input
                    id="n-sequencia"
                    type="number"
                    min="0"
                    v-model="sequencia"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="12" lg="6">
                <b-collapse id="collapse-tempo" v-model="this.showInterval">
                  <b-form-group
                    description="Intervalo de tempo"
                    label="Data:"
                    label-for="intervalo_sequencia"
                  >
                    <input
                      id="intervalo_sequencia"
                      type="text"
                      class="form-control"
                      aria-describedby="fieldset-1__BV_description_"
                      ref="sequenciaIntervalo"
                    />
                  </b-form-group>
                </b-collapse>
              </b-col>
            </b-row>
            <template #footer>
              <b-button type="submit" variant="primary">Pesquisar</b-button>
            </template>
          </b-card>
        </b-overlay>
      </b-form>
    </b-col>
    <b-col cols="12" md="6" class="mt-3">
      <canvas ref="sequencia"></canvas>
    </b-col>
  </b-row>
</template>
<script src="./index.js" />
