<template>
  <b-modal
    id="modal-usuario"
    hide-footer
    size="lg"
    title="Cadastro de Usuários"
  >
    <b-form @submit.prevent="handleSave">
      <b-row>
        <b-col cols="12">
          <b-form-group
            label="Nome:"
            label-for="nome"
            description="Nome Completo"
          >
            <b-form-input
              id="nome"
              type="text"
              placeholder="digite o nome completo"
              v-model="form.nome"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="6">
          <b-form-group
            id="input-group-1"
            label="Email:"
            label-for="email"
            description="E-mail para cadastro"
          >
            <b-form-input
              id="email"
              type="email"
              placeholder="digite o email"
              v-model="form.email"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="6">
          <b-form-group
            label="Senha:"
            label-for="senha"
            description="Senha de 6 a 8 digitos"
          >
            <b-form-input
              id="senha"
              type="password"
              placeholder="Senha de 6 a 8 digitos"
              v-model="form.senha"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="6">
          <b-button type="submit" variant="primary">Salvar</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-modal>
</template>
<script>
import {
  required,
  email,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
export default {
  data() {
    return {
      form: {
        nome: null,
        email: null,
        senha: null,
      },
    };
  },
  methods: {
    async handleSave() {
      let validationSenha = this.$v.form.senha;
      let validationEmail = this.$v.form.email;
      let validationNome = this.$v.form.nome;

      if (validationSenha.$invalid) {
        if (validationSenha["maxLength"] || validationSenha["minLength"]) {
          this.$bvToast.toast("Senha deve conter entre 6 a 8 digitos", {
            title: "Erro no campo abaixo",
            variant: "danger",
            solid: true,
          });
        } else {
          this.$bvToast.toast("Senha obrigatorio", {
            title: "Erro no campo abaixo",
            variant: "danger",
            solid: true,
          });
        }
      } else if (validationEmail.$invalid) {
        if (validationEmail["email"]) {
          this.$bvToast.toast("Email Invalido", {
            title: "Erro no campo abaixo",
            variant: "danger",
            solid: true,
          });
        } else {
          this.$bvToast.toast("Email Obrigatório", {
            title: "Erro no campo abaixo",
            variant: "danger",
            solid: true,
          });
        }
      } else if (validationNome.$invalid) {
        this.$bvToast.toast("Nome Obrigatório", {
          title: "Erro no campo abaixo",
          variant: "danger",
          solid: true,
        });
      } else {
        try {
          console.log(this.form);
          await this.$store.dispatch("cadastrarUsuario", this.form);
          this.$bvToast.toast("Usuário salvo com sucesso", {
            title: "Sucesso",
            variant: "success",
            solid: true,
          });
          //   this.form.nome = null;
          //   this.form.email = null;
          //   this.form.senha = null;
          this.$bvModal.hide("modal-usuario");
        } catch (error) {
          console.error(error);
          this.$bvToast.toast("Erro Ao salvar usuário", {
            title: "Error",
            variant: "danger",
            solid: true,
          });
        }
      }
    },
  },
  validations: {
    form: {
      email: {
        required,
        email,
      },
      nome: {
        required,
      },
      senha: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(8),
      },
    },
  },
};
</script>
